@model PañaleraUpalala.Models.Cliente

@{
    ViewBag.Title = "Delete";
}

<h2 class="text-center">Delete</h2>

<h3>Eliminar cliente y sus compras?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.LabelFor(model => model.domicilio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.domicilio)
        </dd>

        <dt>
            @Html.LabelFor(model => model.cuenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cuenta)
        </dd>

    </dl>

    <h2 class="text-center">Ventas</h2>

    <table class="table">
        <tr>
            <th>
                Fecha
            </th>
            <th>
                Total
            </th>
            <th>
                Pago
            </th>
            <th></th>
        </tr>

        @foreach (var item in ViewBag.ventas)
        {
            <tr>
                <td>
                    @Html.DisplayFor(item.fecha)
                </td>
                <td>
                    $@Html.DisplayFor( item.Total)
                </td>
                <td>
                    $@Html.DisplayFor(item.Pago)
                </td>
            </tr>
        }
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" />
            @Html.ActionLink("Volver", "Index", new { }, new { @class = "btn btn-default" })
        </div>
    }
</div>
