@model PañaleraUpalala.Models.Cliente

@{
    ViewBag.Title = "Detalles";
}

<h2 class="text-center">Detalles</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.LabelFor(model => model.domicilio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.domicilio)
        </dd>

        <dt>
            @Html.LabelFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.LabelFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.LabelFor(model => model.cuenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cuenta)
        </dd>

    </dl>
</div>
<div class="form-group">
        @Html.ActionLink("Editar", "Edit", new { id = Model.id }, new { @class = "btn btn-default" })
        @Html.ActionLink("Volver", "Index", new { }, new { @class = "btn btn-default" })
</div>
