@model IEnumerable<PañaleraUpalala.Models.Compra>

@{
    ViewBag.Title = "Compras";
}

<h2 class="text-center">Compras</h2="text-center">

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.proveedor.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.proveedor.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                @Html.ActionLink("Detaller", "Details", new { id = item.id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Nuevo", "Create", new { }, new { @class = "btn btn-default" })
</div>>