@model IEnumerable<PañaleraUpalala.Models.Venta>

@{
    ViewBag.Title = "Venta";
}

<h2 class="text-center">Ventas</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClienteDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClienteDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
            @Html.ActionLink("Detaller", "Details", new { id = item.id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
        </td>
    </tr>
    }
</table>

<div>
    @Html.ActionLink("Nuevo", "Create", "Venta")
</div>