@model PañaleraUpalala.Models.Talle

@{
    ViewBag.Title = "Eliminar";
}

<h2 class="text-center">Eliminar</h2>

<h3>eliminar talle de manera permanente?</h3>
<div>
    <h4>Talle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.talle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.talle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" />
            @Html.ActionLink("Volver", "Index", new { }, new { @class = "btn btn-default" })
        </div>
    }
</div>
